{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: sans-serif;
background-color: black;
padding: 15px;
}
html {
    background-color: navy;
    color: #fff;
    padding: 20px ;
    margin-top: 40px;
background: #3ab444;
background: background: #3ab444;
background: linear-gradient(90deg,rgba(58, 180, 68, 1) 15%, rgba(219, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 91%);
border-radius: 15px;
}
h1 {
    text-align: center;
    background-image:#833AB4;
background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-size: 40px;
margin-top:10px;
margin-bottom:10px;
padding: 10px;
border-radius: 15px;
padding: 10px;
border-radius: 15px;
}
h2{
 text-align: center;
 color: rgb(245, 235, 235);
 background: #3F5EFB;
background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
margin-top:10px;
margin-bottom:10px;
padding: 10px;
border-radius: 15px;
}
h3{
  background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
color: white;
margin-top:10px;
margin-bottom:10px;
padding: 10px;
border-radius: 15px;
}
p{
    color: rgb(245, 235, 235);
    margin-top:10px;
    margin-bottom:10px;
    padding: 10px;
border-radius: 15px;
}
footer a {
    margin: 0 10px;
    display: inline-block;
}

footer img {
    height: 60px; 
    width: auto;
    transition: transform 0.3s ease;
}
footer img:hover {
    transform: scale(1.1); 
}
footer {
    background-color: navy;
    padding: 20px 0;
    margin-top: 40px;
background: #3ab444;
background: background: #3ab444;
background: linear-gradient(90deg,rgba(58, 180, 68, 1) 15%, rgba(219, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 91%);
padding: 10px;
border-radius: 15px;
}
footer p{
    color: black;
}
nav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
nav a:hover{
    left: 0;
}
.about{
    top: 20px;
    background-color: #4CAF50;
}
.blog{
    top: 80px;
    background-color: #2196F3;
}

.contact{
    top:140px;
    background-color: #555;
}
